.git
.idea
.vscode
.omx
node_modules
dist
__pycache__
*.py[cod]
.pytest_cache
.vitest
coverage
npm-debug.log*

backend/.env
backend/.idea
backend/**/__pycache__
backend/data/*
!backend/data/mnist
!backend/data/mnist/**

data
